<template>
  <card :title="'You at Home Page'">
    Welcome to My Nuxt and Vuetify
  </card>
</template>

<script>
export default {
  middleware: 'auth',

  head () {
    return { title: 'Home' }
  }
}
</script>
