<template>
  <v-form @submit.prevent="addContact" @keydown="form.onKeydown($event)">
    <v-container>
      <v-label>Contact</v-label>
      <v-row>
        <v-col cols="12"
               md="4"
        >
          <v-text-field
            v-model="form.name"
            :class="{ 'is-invalid': form.errors.has('name') }"
            label="Name"
            type="text"
            required
          />
          <has-error :form="form" field="name" class="red--text" />
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12"
               md="4"
        >
          <v-text-field
            v-model="form.email"
            :class="{ 'is-invalid': form.errors.has('email') }"
            label="Email"
            type="email"
            required
          />
          <has-error :form="form" field="email" class="red--text" />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12"
               md="4"
        >
          <v-btn type="submit" depressed color="primary">
            Add
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import Form from 'vform'

export default {

  data: () => ({
    form: new Form({
      name: '',
      email: ''
    })
  }),
  head () {
    return { title: 'Contact' }
  },

  methods: {
    async addContact () {
      let data

      // Register the user.
      try {
        const response = await this.form.post('/addContact')
        // eslint-disable-next-line no-unused-vars
        data = response.data
      } catch (e) {

      }
    }
  }
}
</script>
