<template>
  <v-form @submit.prevent="login" @keydown="form.onKeydown($event)">
    <v-container>
      <v-row>
        <v-label>Login</v-label>
        <v-col cols="12"
               md="4"
        >
          <v-text-field
            v-model="form.email"
            :class="{ 'is-invalid': form.errors.has('email') }"
            label="Email"
            type="email"
            required
          />
          <has-error :form="form" field="email" class="red--text"/>
        </v-col>

        <v-col cols="12"
               md="4"
        >
          <v-text-field
            v-model="form.password"
            :class="{ 'is-invalid': form.errors.has('password') }"
            label="Password"
            type="password"
            required
          />
          <has-error :form="form" field="password" />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12"
               md="4"
        >
          <v-btn type="submit" depressed color="primary">
            Login
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import Form from 'vform'

export default {
  middleware: 'guest',

  data: () => ({
    form: new Form({
      email: '',
      password: ''
    }),
    remember: false
  }),

  head () {
    return { title: 'login' }
  },

  methods: {
    async login () {
      let data

      // Submit the form.
      try {
        const response = await this.form.post('/login')
        data = response.data
      } catch (e) {
        return
      }

      // Save the token.
      this.$store.dispatch('auth/saveToken', {
        token: data.token,
        remember: this.remember
      })

      // Fetch the user.
      await this.$store.dispatch('auth/fetchUser')

      // Redirect home.
      this.$router.push({ name: 'home' })
    }
  }
}
</script>
