<template>
  <v-form @submit.prevent="register" @keydown="form.onKeydown($event)">
    <v-container>
      <v-label>Register</v-label>
      <v-row>
        <v-col cols="12"
               md="4"
        >
          <v-text-field
            v-model="form.name"
            :class="{ 'is-invalid': form.errors.has('name') }"
            label="Name"
            type="text"
            required
          />
          <has-error :form="form" field="name" class="red--text" />
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12"
               md="4"
        >
          <v-text-field
            v-model="form.email"
            :class="{ 'is-invalid': form.errors.has('email') }"
            label="Email"
            type="email"
            required
          />
          <has-error :form="form" field="email" class="red--text" />
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12"
               md="4"
        >
          <v-text-field
            v-model="form.password"
            :class="{ 'is-invalid': form.errors.has('password') }"
            label="Password"
            type="password"
            required
          />
          <has-error :form="form" field="password" class="red--text" />
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12"
               md="4"
        >
          <v-text-field
            v-model="form.password_confirmation"
            :class="{ 'is-invalid': form.errors.has('password_confirmation') }"
            label="Password Confirmation"
            type="password"
            required
          />
          <has-error :form="form" field="password_confirmation" class="red--text" />
        </v-col>
        <SelectVuetify :items="['Foo', 'Bar', 'Fizz', 'Buzz']" />
      </v-row>
      <v-row>
        <v-col cols="12"
               md="4"
        >
          <v-btn type="submit" depressed color="primary">
            Register
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import Form from 'vform'

export default {
  middleware: 'guest',

  data: () => ({
    form: new Form({
      name: '',
      email: '',
      password: '',
      password_confirmation: ''
    }),
    mustVerifyEmail: false
  }),

  head () {
    return { title: 'register' }
  },

  methods: {
    async register () {
      let data

      // Register the user.
      try {
        const response = await this.form.post('/register')
        data = response.data
      } catch (e) {
        return
      }

      // Must verify email fist.
      if (data.status) {
        this.mustVerifyEmail = true
      } else {
        // Log in the user.
        const { data: { token } } = await this.form.post('/login')

        // Save the token.
        this.$store.dispatch('auth/saveToken', { token })

        // Update the user.
        await this.$store.dispatch('auth/updateUser', { user: data })

        // Redirect home.
        this.$router.push({ name: 'home' })
      }
    }
  }
}
</script>
