<template>
  <v-app>
    <div class="card">
      <div v-if="title" class="card-header">
        {{ title }}
      </div>

      <div class="card-body">
        <slot/>
      </div>
    </div>
  </v-app>
</template>

<script>
export default {
  name: 'Card',

  props: {
    title: {type: String, default: null}
  }
}
</script>
