<template>
  <v-container fluid>
    <v-row align="center">
      <v-col
        class="d-flex"
        cols="12"
        sm="6"
      >
        <v-select
          :items="items"
          label="Demo select by vuetify component"
          solo
        />
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  name: 'SelectVuetify',
  props: {
    items: {type: Array, default: null}
  }
}
</script>
