<template>
  <div class="ma-12 pa-12">
    <v-card>
      <v-navigation-drawer
        permanent
        expand-on-hover
      >
        <v-list v-if="user">
          <v-list-item class="px-2">
            <v-list-item-avatar>
              <router-link :to="{ name: user ? 'home' : 'welcome' }">
                <v-img :src="user.photo_url" />
              </router-link>
            </v-list-item-avatar>
          </v-list-item>

          <v-list-item link>
            <v-list-item-icon>
              <v-icon>mdi-wrench</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title class="title">
                <router-link :to="{ name: 'settings.profile' }">
                  Settings
                </router-link>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item link>
            <v-list-item-icon>
              <v-icon>mdi-minus-circle</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title class="title">
                <a href="#" @click.prevent="logout">
                  Logout
                </a>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-list v-else>
          <!-- Guest -->
          <v-list-item link>
            <v-list-item-icon>
              <v-icon>mdi-clock-start</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title class="title">
                <router-link :to="{ name: 'login' }" class="nav-link" active-class="active">
                  Login
                </router-link>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item link>
            <v-list-item-icon>
              <v-icon>mdi-account-multiple</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title class="title">
                <router-link :to="{ name: 'register' }" class="nav-link" active-class="active">
                  Register
                </router-link>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
    </v-card>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {

  data: () => ({
    appName: process.env.appName
  }),

  computed: mapGetters({
    user: 'auth/user'
  }),

  methods: {
    async logout () {
    // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: 'login' })
    }
  }
}
</script>

  <style scoped>
    .profile-photo {
    width: 2rem;
    height: 2rem;
    margin: -.375rem 0;
    }
  </style>
</template>
